[Unit]
Wants=network-online.target
After=network.target network-online.target docker.socket
Requires=docker.service
Description=Microkube Kubernetes Launcher

[Service]
ExecStart=/usr/bin/microkubed -sudo /usr/bin/sudo -root /var/lib/mukube $MUOPTS
Restart=always
RestartSec=120
Type=notify
User=mukube
Group=mukube
TimeoutSec=5m
NotifyAccess=main
KillMode=mixed
KillSignal=SIGINT
EnvironmentFile=/etc/default/microkube

[Install]
WantedBy=multi-user.target
