#!/usr/bin/make -f

export DH_OPTIONS
export DH_GOPKG := github.com/vs-eth/microkube

%:
	dh $@ --buildsystem=golang --with=golang,systemd

# Generate code early on, as it will not work as soon as the object dir exists
override_dh_auto_configure:
	make generate
	dh_auto_configure $@

# Integration tests have dependencies, so skip testing for the moment
override_dh_auto_test:
	/bin/true

# Create /var/lib/mukube here so that it is correctly marked as owned by the package
override_dh_auto_install:
	dh_auto_install $@
	install -d $(CURDIR)/debian/microkubed/var/lib/mukube